<div id="wrapper-background"></div>

<div class="row absolute-center form-login">
    <p>Prend un bon café et identifie toi !</p>
    <form ng-submit="login()">
        <div class="form-group">
            <input ng-model="user.mail" spellcheck="false" type="email" class="form-control" id="exampleInputEmail1" placeholder="Adresse email">
        </div>
        <div class="form-group">
            <input ng-model="user.password" spellcheck="false" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-full btn-large">Connexion</button>
    </form>
</div>
