.navbar-default
    background-color #fff
    border none
    border-bottom 1px solid uilightgrey
    padding 0 10px
    position relative

    ul
        li
            a
                text-transform uppercase

            &.dropdown

                &.open
                    > a
                        background-color transparent
                        border-bottom 3px solid uiblue
                        color uiblue

                        &:hover, &:active, &:focus
                            background-color transparent
                            color uiblue

                ul.dropdown-menu
                    box-shadow none
                    border 1px solid uilightgrey
                    padding 10px

    .active
        a
            background-color transparent !important
            border-bottom 3px solid uiblue !important
            color uiblue !important
